# Single package Makefile script.
.SUFFIXES: .s .o .a .h .c
help:

PKG_CONFIG = pkg-config --with-path=$(PREFIX)/lib/pkgconfig

pkg = {{project}}{{^project}}util{{/project}}
parent = {{parent}}{{^parent}}intro_c{{/parent}}
proj = $(parent)-$(pkg)
namespace_path = $(shell echo $(parent) | sed 'y|.|/|')
version = {{version}}{{^version}}0.1.0{{/version}}
ver_major = $(shell echo $(version) | cut -d'.' -f1)

ifeq ($(shell sh -c 'uname -s 2>/dev/null || echo not'),Darwin)
shlibext = dylib
else
shlibext = so
LDFLAGS := $(LDFLAGS) -Wl,--enable-new-dtags
endif

ifdef DEBUG
CPPFLAGS := $(CPPFLAGS) -DDEBUG -UNDEBUG
LDFLAGS := $(LDFLAGS) --coverage
CFLAGS := $(CFLAGS) -g3 -O0 --coverage
else
CPPFLAGS := $(CPPFLAGS) -DNDEBUG -UDEBUG
CFLAGS := $(CFLAGS) -O3
endif

link_libs = libpcre glib-2.0{{#executable}} log4c yaml-0.1 yajl json-c{{/executable}}
CPPFLAGS := $(CPPFLAGS) -Iinclude -I../src $(shell $(PKG_CONFIG) --cflags-only-I $(link_libs))
LDFLAGS := $(LDFLAGS) -Wl,-rpath,'$$ORIGIN/' -Llib $(shell $(PKG_CONFIG) --libs-only-L $(link_libs))
CFLAGS := $(CFLAGS) -Wall -pedantic -std=c99 -m64 $(shell $(PKG_CONFIG) --cflags-only-other $(link_libs))
#ASFLAGS := $(ASFLAGS) -Iinclude $(shell $(PKG_CONFIG) --cflags-only-I $(link_libs))
ARFLAGS = rvcs
LDLIBS := $(LDLIBS) $(shell $(PKG_CONFIG) --libs-only-other --libs-only-l $(link_libs)) # -lm # -l:libm.a

{{#executable}}
src_c = $(shell cd .. ; ls src/**/*.c src/*.c)
#objs = $(src_c:.c=.o)
{{/executable}}
{{^executable}}
src_c = $(shell cd .. ; ls src/**/*.c src/*.c)
#src_c = *.s $(shell cd .. ; ls src/**/*.c src/*.c)
objs = $(src_c:.c=.o)
#objs = $(src_c:.s=.o) $(src_c:.c=.o)
{{/executable}}

CFLAGS := $(CFLAGS) $(shell $(PKG_CONFIG) --cflags {{testfrwk}}{{^testfrwk}}check{{/testfrwk}})
ldlibs_test = $(shell $(PKG_CONFIG) --libs {{testfrwk}}{{^testfrwk}}check{{/testfrwk}}){{^executable}} -l$(proj){{/executable}}
#tests_c = $(patsubst ../%,%,$(wildcard ../tests/**/*.c ../tests/*.c))
tests_c = $(shell cd .. ; ls tests/**/*.c tests/*.c)

.depend:
	-@mkdir -p bin lib/pkgconfig share/doc/$(proj)
	-@cd .. ; find src tests -type d -exec mkdir -p $$OLDPWD/{} \;
	-cp -fR ../include ../resources .
	{{^executable}}
	-rm -fr lib/pkgconfig/$(proj).pc
	-sed "s|@prefix@|$(PREFIX)|" ../src/$(proj).pc.in > lib/pkgconfig/$(proj).pc
	{{/executable}}
#	-@echo '' > .depend ; cd .. ; makedepend -Y -f- -- $(CPPFLAGS) -- $(src_c) >> $$OLDPWD/.depend
	-@echo '' > .depend
	-@cd .. ; $(CC) $(CPPFLAGS) -MM $(src_c) $(tests_c) >> $$OLDPWD/.depend

{{#executable}}
#lib/lib$(proj).$(shlibext) : $(src_c)

bin/$(proj) : $(src_c)
	-$(LINK.c) $^ -o $@ $(LDLIBS)
{{/executable}}
{{^executable}}
lib/lib$(proj).$(shlibext) : $(src_c)
{{/executable}}

tests/ts_main : $(tests_c)
	-$(LINK.c) $^ -o $@ $(ldlibs_test)

.PHONY: all testCompile{{#executable}} run debug valgrind{{/executable}}
{{#executable}}
#all: .depend lib/lib$(proj).a($(objs)) lib/lib$(proj).$(shlibext) ## compile
all: .depend bin/$(proj) ## compile
{{/executable}}
{{^executable}}
all: .depend lib/lib$(proj).a($(objs)) lib/lib$(proj).$(shlibext) ## compile
{{/executable}}
testCompile: tests/ts_main ## compile test
{{#executable}}

DEBUGGER = ddd --gdb	# lldb ; ddd --gdb ; gdb
# valgrind tools: memcheck helgrind cachegrind massif lackey
VALGRIND = valgrind --verbose --tool=memcheck

run: bin/$(proj) ## run main [ARGS=""]
#	export [DY]LD_LIBRARY_PATH=. # ([da|ba|z]sh Linux)
#	setenv [DY]LD_LIBRARY_PATH . # (tcsh FreeBSD)
	-LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):lib bin/$(proj) $(ARGS)
debug: bin/$(proj) ## debug main [ARGS=""]
	-LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):lib $(DEBUGGER) bin/$(proj) $(ARGS)
valgrind: bin/$(proj) ## valgrind main
	-LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):lib $(VALGRIND) bin/$(proj)
{{/executable}}

#classicffi_asm_s : ../src/$(parent)/classic_asm.c.bak ../src/$(parent)/classic_f90.f90.bak
#	-$(CC) -Iinclude -Isrc -Wall -pedantic -std=c99 -m64 -S -masm=att -fPIC \
#		-x c -o classic_asm.s ../src/${parent}/classic_asm.c.bak
#	-$(CC) -Iinclude -Isrc -Wall -pedantic -std=f2003 -m64 -S -masm=att -fPIC \
#		-x f95 -o classic_f90.s ../src/${parent}/classic_f90.f90.bak

-include .depend ../Makefile-targets.mk
