#!/usr/bin/env lua

-- Multi-package project premake4.lua script.
if path.getbasename(_WORKING_DIR) ~= "build" then
	printf("Error: cd build ; premake4 --file=../premake4.lua gmake")
	os.exit(EXIT_FAILURE)
end

newoption { trigger = "prefix", value = "/usr/local",
	description = "Installation prefix"}
newoption { trigger = "buildtest", value = "ON", 
	allowed = { { "ON", "Enable build test" }, { "OFF", "Disable build test" } },
	description = "Build test(s)"}

newoption { trigger = "fmts", value = "tar.gz",
	description = "Select archive format(s)"}
newoption { trigger = "subdirs", value = "common,app",
	description = "Subdirectories to target"}

local parent = "{{parent}}{{^parent}}intro_c{{/parent}}"
local version = "0.1.0"
local subdirs = string.explode(_OPTIONS["subdirs"] or "common,app", ",")

newaction { trigger = "help", description = "Help - displays targets",
	execute = function ()
		for _, e in ipairs(subdirs) do
			assert(os.isdir(e), "Non-existent directory: " .. e)
			printf("### subdir: %s ###", e)
			os.execute(string.format("cd %s ; gmake help", e))
		end
	end
}

newaction { trigger = "all", description = "Compile the software",
	execute = function ()
		for _, e in ipairs(subdirs) do
			assert(os.isdir(e), "Non-existent directory: " .. e)
			printf("### subdir: %s ###", e)
			os.execute(string.format("cd %s ; gmake", e))
		end
	end
}

if "ON" == (_OPTIONS["buildtest"] or "ON") then
	newaction { trigger = "test", description = "Run subdir(s) tests",
		execute = function ()
			for _, e in ipairs(subdirs) do
				assert(os.isdir(e), "Non-existent directory: " .. e)
				printf("### subdir: %s ###", e)
				os.execute(string.format("cd %s ; LD_LIBRARY_PATH=%s:lib ./ts_main %s",
					e, os.getenv("LD_LIBRARY_PATH") or "",
					#_ARGS ~= 0 and table.concat(_ARGS, " ") or ""))
			end
		end
	}
end

newaction { trigger = "uninstall", description = "Uninstall subdir(s) artifacts",
	execute = function ()
		for _, e in ipairs(subdirs) do
			assert(os.isdir(e), "Non-existent directory: " .. e)
			printf("### subdir: %s ###", e)
			os.execute(string.format("rm -i %s/include/%s-*/*.*",
				_OPTIONS["prefix"] or "/usr/local", parent))
			os.execute(string.format("rm -i %s/lib/*%s-*.*", 
				_OPTIONS["prefix"] or "/usr/local", parent))
			os.execute(string.format("rm -i %s/lib/pkgconfig/%s-*.pc", 
				_OPTIONS["prefix"] or "/usr/local", parent))
			os.execute(string.format("rm -ir %s/share/doc/%s-*", 
				_OPTIONS["prefix"] or "/usr/local", parent))
			os.execute(string.format("rm -i %s/bin/*%s-*", 
				_OPTIONS["prefix"] or "/usr/local", parent))
		end
	end
}

newaction { trigger = "install", description = "Install subdir(s) artifacts",
	execute = function ()
		for _, e in ipairs(subdirs) do
			assert(os.isdir(e), "Non-existent directory: " .. e)
			printf("### subdir: %s ###", e)
			--[=[os.copyfile(string.format("%s/bin/myprogram", e), 
				string.format("%s/bin/myprogram",
				_OPTIONS["prefix"] or "/usr/local"))]=]
			os.execute(string.format("cd %s ; cp -fR bin include lib share %s",
				e, _OPTIONS["prefix"] or "/usr/local"))
		end
	end
}

newaction { trigger = "dist", description = "Create project source archive(s)",
	execute = function ()
		distdir = string.format("%s-%s", parent, version)
		os.copyfile(path.getdirectory(_WORKING_DIR) .. "/exclude.lst", ".")
		os.mkdir(distdir)
		
		--[=[os.execute(string.format("cd %s ; zip -9 -q --exclude @%s/exclude.lst -r --exclude '*/build/*' - ." ..
			" | unzip -od build/%s -", path.getdirectory(_WORKING_DIR),
			path.getdirectory(_WORKING_DIR), distdir))]=]
		os.execute(string.format("tar --format=posix --dereference " ..
			"--exclude-from=%s/exclude.lst -C %s -cf - . | tar -xpf - -C %s",
			path.getdirectory(_WORKING_DIR), 
			path.getdirectory(_WORKING_DIR), distdir))
		
		for _, fmt in ipairs(string.explode(_OPTIONS["fmts"] or "tar.gz", " ")) do
			if fmt == "zip" then
				os.execute(string.format("rm -f %s ; zip -9 -q -r %s %s",
					distdir .. ".zip", distdir .. ".zip", distdir))
			else
				os.execute(string.format("rm -f %s ; tar --posix -L -caf %s %s",
					distdir .. "." .. fmt, distdir .. "." .. fmt, distdir))
			end
		end
	end
}

newaction { trigger = "doc", description = "Generate subdir(s) API documentation",
	execute = function ()
		for _, e in ipairs(subdirs) do
			assert(os.isdir(e), "Non-existent directory: " .. e)
			printf("### subdir: %s ###", e)
			os.execute(string.format("cd %s/%s/build ; ", 
				path.getdirectory(_WORKING_DIR), e)
				.. "doxygen ../Doxyfile_*.txt")
			os.execute(string.format("rm -fr %s/share/doc/%s-*/html", e,
				parent))
			os.execute(string.format("cd %s/share/doc/%s-*/ ; " ..
				"mv -f %s/%s/build/html html", e, parent,
				path.getdirectory(_WORKING_DIR), e))
		end
	end
}

newaction { trigger = "lint", description = "Lint check subdir(s) source code",
	execute = function ()
		local lintopts = "--enable=all --report-progress --quiet --force " ..
			"--std=c99 --std=posix -Iinclude"
		for _, e in ipairs(subdirs) do
			assert(os.isdir(e), "Non-existent directory: " .. e)
			printf("### subdir: %s ###", e)
			os.execute(string.format("cd %s/%s ; cppcheck %s src", 
				path.getdirectory(_WORKING_DIR), e, lintopts))
		end
	end
}

newaction { trigger = "report", description = "Report subdir(s) code coverage",
	execute = function ()
		for _, e in ipairs(subdirs) do
			assert(os.isdir(e), "Non-existent directory: " .. e)
			printf("### subdir: %s ###", e)
			os.execute(string.format("cd %s ; " ..
				"lcov --capture -d . -o .coverage " ..
				"--gcov-tool %s/%s/llvm-gcov.sh", e, 
				path.getdirectory(_WORKING_DIR), e))
			os.execute(string.format("cd %s ; genhtml -o cov .coverage", e))
		end
	end
}

for _, subdir in ipairs(subdirs) do
	include(subdir)
end
