plugins {
    id 'distribution'	// add support to archive (tar, zip) distribution
}

rootProject.description = '{{parentdescription}}{{^parentdescription}}Multi-package project Intro examples for C.{{/parentdescription}}'
//gradle.startParameter.offline = true

version = '{{version}}{{^version}}0.1.0{{/version}}'

tasks.withType(Tar) {
	description description + " [-Ptarext='${tarext}']"
	switch (tarext) {
		case 'tar': compression = Compression.NONE ; archiveExtension = 'tar'
			break
		case 'tar.bz2': compression = Compression.BZIP2 ; archiveExtension = 'tar.bz2'
			break
		default: compression = Compression.GZIP ; archiveExtension = 'tar.gz'
			break
	}
}

assembleDist {
	description description + " [-Ptarext='${tarext}']"
}

distributions {
	main { distributionBaseName = rootProject.name
		contents {
			//from '.' { include '**/*.gradle', '**/src/' }
			from '.' { exclude (new File('exclude.lst') as String[])
				exclude '**/build/*', '**/.gradle/*' }
		}
	}
}
