/*
// To declare projects as part of a multi-project build use the 'include' method
include 'shared'
include 'app'
include 'services:webservice'
*/

import org.apache.tools.ant.DirectoryScanner

DirectoryScanner.removeDefaultExclude('**/.gitignore')
DirectoryScanner.removeDefaultExclude('**/.hgignore')

startParameter.offline = true
rootProject.name = '{{parent}}{{^parent}}intro_c{{/parent}}'

//include ":${rootProject.name}-util", ":${rootProject.name}-intro"
include ':common', ':app'
project(':common').name = "${rootProject.name}-util"
project(':app').name = "${rootProject.name}-intro"
