// to convert to asm:
// $(CC) -Iinclude -Isrc -std=c99 -m64 -fPIC -S -masm=att -x c -o classic_asm.s classic_asm.c.bak
static unsigned long fact_asm_iter(const unsigned int n, const unsigned long acc) {
    return n < 1 ? acc : fact_asm_iter(n - 1, acc * n);
}
unsigned long fact_asm_i(const unsigned int n) { return fact_asm_iter(n, 1L);}

unsigned long fact_asm_lp(const unsigned int n) {
    unsigned long acc = 1L;
    
    for (int i = n; i > 1; --i)
        acc *= i;
    return acc;
}

static float expt_asm_iter(const float b, const float n, const float acc) {
    return n > 0.0f ? expt_asm_iter(b, n - 1, acc * b) : acc;
}
float expt_asm_i(const float b, const float n) {
    return expt_asm_iter(b, n, 1.0f);}

float expt_asm_lp(const float b, const float n) {
    float acc = 1.0f;
    for (float i = n; 0.0f < i; --i)
        acc *= b;
    return acc;
}

