#ifndef TC_NEW_H
#define TC_NEW_H

#ifdef __cplusplus
extern "C" {
#endif

#include <CUnit/Basic.h>

int init_new(void);
int clean_new(void);

void* tc_new_suite(CU_pSuite pSuite);

#ifdef __cplusplus
}
#endif

#endif // TC_NEW_H
